.button {
  border: none;
  cursor: pointer;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
}

.long {
  width: 100%;
  height: 64px;
  background-image: url('/sprites/button-long-up.png');
  padding: 0 24px;
}

.small {
  height: 52px;
  min-width: 100px;
  background-image: url('/sprites/button-smol-up.png');
  padding: 0 16px;
}

.long.pressed {
  background-image: url('/sprites/button-long-down.png');
}

.small.pressed {
  background-image: url('/sprites/button-smol-down.png');
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.text {
  font-family: 'PressStart2P', monospace;
  font-size: 16px;
  color: #2a1810;
  text-align: center;
  user-select: none;
}

.smallText {
  font-family: 'PressStart2P', monospace;
  font-size: 13px;
  color: #2a1810;
  text-align: center;
  user-select: none;
}
