.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprite {
  image-rendering: pixelated;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
